<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here is Your Book info</title>
</head>
<body>
    <h1>Book FeedBack Saved!!</h1>
    <h2>Book Information Below</h2>

    <table border="1">

        <tr>
          <th>User Name</th>
          <th>Book Name</th>
          <th>Book FeedBack</th>
        </tr>


        <tr th:each="book: ${books}">

          <td th:text="${book.username}"></td>
          <td th:text="${book.bookname}"></td>
          <td th:text="${book.bookfeedback}"></td>

        </tr>

    </table>
</body>
</html>